body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100; /* Ustawienie z-index dla nagłówka */
    box-sizing: border-box; /* Upewnienie się, że padding nie zwiększa wymiarów elementu */
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
    font-family: 'Satisfy', cursive;
}

.header p {
    font-size: 1.2em;
    margin: 5px 0 0;
    color: #555;
    font-family: 'Satisfy', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    /*padding-top: 10px; /* Dostosuj do wysokości nagłówka (nagłówek + margines) */
    position: relative;
}

.menu {
    position: fixed;
    left: -250px; /* Menu jest ukryte poza ekranem */
    top: 0; /* Ustawienie menu od samej góry ekranu */
    width: 250px; /* Ustawienia szerokości menu */
    height: 100%; /* Menu zajmuje pełną wysokość ekranu */
    background-color: #333;
    color: white;
    overflow-y: auto;
    transition: left 0.3s ease; /* Animacja przesuwania menu */
    z-index: 1000; /* Ustaw wyższy z-index, aby menu było nad nagłówkiem */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Dodanie cienia */
}

.menu-open .menu {
    left: 0; /* Menu przesuwa się na ekran */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #444; /* Dodanie linii oddzielającej elementy */
}

.menu ul li:last-child {
    border-bottom: none; /* Usunięcie linii dla ostatniego elementu */
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block; /* Umożliwia kliknięcie całego obszaru */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover, .menu ul li a:focus {
    background-color: #575757; /* Zmiana koloru tła przy najechaniu */
    color: #ffd700; /* Zmiana koloru tekstu przy najechaniu */
    padding-left: 30px; /* Efekt przesunięcia przy najechaniu */
}

.menu-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    z-index: 1001; /* Ustaw wyższy z-index niż dla menu */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.menu-open .menu-toggle {
    opacity: 0;
    pointer-events: none;
}

.content {
    margin-left: 0;
    padding: 20px;
    flex: 1;
}

@media screen and (min-width: 768px) {
    .menu {
        position: static;
        width: 250px;
        height: 100%;
        left: 0;
        top: 0; /* Ustawienie menu od góry strony */
        box-shadow: none; /* Usunięcie cienia dla większych ekranów */
    }

    .menu-toggle {
        display: none;
    }

    .content {
        margin-left: 250px;
    }
}
